* {
	box-sizing: border-box;
}

html {
    font-family: "Lucida Sans", sans-serif;
}
body {
	margin-top: 50px;
	position: relative;
}

.panel-body div {
	margin-top:0px; padding-top:0px;
}

.affix {
      top: 64px;
}

.active {
	border-width: 1px;
	border-color: blue;
	border-style: ridge;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    padding: 15px;
}

.navbar {
      margin-bottom: 0;
      border-radius: 12;
}

.row.content {
	height: 450px
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}

footer {
      background-color: #555;
      color: white;
      padding: 15px;
}

#sitemap-header {
	color:white;
}
section {
  margin-top: 1em;
}
section .col-md-3:first-child {
  border: none;

}
section a {
	font-family: "Lucida Sans"
	font: 20px/30px, serif;
	color:white;
}

.panel-heading h2, .panel-heading h3, .panel-heading h4, .panel-heading h5, .panel-heaeding h6 {
	margin: 0px; 
	padding: 0px;
}


/* section a:visited
{
	text-decoration:none;
	color:white;
	outline-style:none;
	border-style:dotted;
}

section a:hover {
	color:white;
	text-decoration: underline;
}
section a:active 
{
	text-decoration:none;
	color:white;
	outline-style:none;
	border-style:none;
} */

@media screen and (max-width: 1100px) { /*instead of screen here was -> (min-width: 768px) */
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}
@media screen and (max-width: 1100px) {
    /* .main  {
        margin-left: 200px;
    }
    .left-sidebar {
      width: 100%;
    } */
    #right-sidebar {
      display: none;
    }

  }
